appnope
asttokens
blinker
certifi
charset-normalizer
click
comm
dash
dash-bootstrap-components
debugpy
decorator
executing
Flask
idna
importlib_metadata
ipykernel
ipython
ipython_pygments_lexers
itsdangerous
janus
jedi
Jinja2
joblib
jupyter_client
jupyter_core
MarkupSafe
matplotlib-inline
narwhals
nest-asyncio
nest-asyncio2
numpy
packaging
pandas
parso
pexpect
platformdirs
plotly
prompt_toolkit
psutil
ptyprocess
pure_eval
Pygments
python-dateutil
pyzmq
requests
retrying
scikit-learn
scipy
setuptools
six
stack-data
threadpoolctl
tornado
traitlets
typing_extensions
urllib3
wcwidth
Werkzeug
zipp
